.attribution { 
    font-size: 1rem; 
    text-align: center; 
    padding: 25px;

    a {
        color: hsl(200, 100%, 50%);
        font-weight: bold;
        transition: color 250ms;
        text-decoration: none;

        &:hover {
            color: hsl(200, 100%, 35%);
            text-decoration: underline;
        }
    }
}